/* line 1, ../sass/main.scss */
body {
  background-color: #eee;
  margin: 0;
}

/* line 4, ../sass/main.scss */
.button {
  width: 200px;
  padding: 15px 0;
  border: 1px solid #fff;
  cursor: pointer;
  font-family: arial;
  font-weight: lighter;
  text-align: center;
  margin-top: 20px;
  &:hover {
    background-color: #fff;
    color: blue;
    text-decoration: underline;
    font-weight: bolder;
  }
}
.heading {
  background-color: blue;
  color: white;
  height: 100vh;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content:center;
   flex-direction: column;
   -webkit-flex-direction: column;
}
.heading-h1 {
  font-size: 47px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
}
.dek,
.dek2 {
  font-family: monospace;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  margin-top: 10px;
}
.weather-section {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.weather-day {
  text-align: center;
  font-family: arial;
  font-size: 12px;
}
.day {
  display: block;
  font-family: monospace;
  font-size: 15px;
}
.temp {
  display: block;
  font-family: arial;
  font-size: 12px;
}
.news-headline-section {
  padding: 25px 75px;
}
.news-headline-heading-container-world {
  width: 127px;
}
.news-headline-heading-container-national {
  width: 152px;
}
.news-headline-heading-container-sports {
  width: 140px;
}
//weather is different due to padding issues
.news-headline-section-weather{
  padding: 25px 75px 0px 75px;
}
.news-headline-heading-container-weather {
  width: 90px;
}
.news-headline-heading {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 22px;
  color: blue;
  padding-bottom: 5px;
}
.border-blue {
  height: 5px;
  background-color: blue;
  margin: auto auto 10px;
}
.news-headline {
  font-family: courier;
  font-size: 20px;
  a {
    color: #000;
    &:hover {
      color: blue;
    }
  }
}
.news-headline-desc {
  font-family: arial;
  font-size: 14px;
  padding-top: 10px;
}
.news-headline-sub {
  font-family: arial;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 25px;
}
.news-image {
  width: 160px;
  padding-top: 10px;
}
.news-headline,
.news-headline-desc,
.news-headline-sub,
.news-image,
.nav {
  opacity: 0;
}



.arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 15px solid blue;
  margin: auto;
}
.container-left {
  width: 85%;
  float: left;
}
.container-right {
  width: 15%;
  float: right;
}
.nav {
    position: relative;
     top: 0;
    margin: auto;
}
.nav-header {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 22px;
  color: blue;
  padding-bottom: 5px;
  padding-top: 10px;
}
.border-blue-nav {
  height: 5px;
  background-color: blue;
  margin: auto auto 10px;
  width: 75px;
  float: left;
}
ul {
  padding: 0;
}
.nav-list li{
list-style: none;
font-family: arial;
padding: 3px 0;
&:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
}
.footer {
  background-color: blue;
  height: 50vh;
  width: 100%;
  opacity: 0;
}
@media (max-width: 600px) {
  .news-headline-section {
    padding: 25px 25px;
  }
  .news-headline-section-weather{
    padding: 25px 25px 0px 25px;
  }
  .weather-section {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 0 5px;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }
  .heading {
  height: 95vh;
  }
  .weather-day {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .container-right {
    display: none;
  }
  .container-left {
    width: 100%;
    float: none;
  }
}





progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: .25em;

  /* Reset the apperance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: blue;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.flat::-webkit-progress-value {
  background-color: blue;
}

.flat::-moz-progress-bar {
  background-color: blue;
}

.single::-webkit-progress-value {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, transparent, blue);
}

.single::-moz-progress-bar {
  background-color: transparent;
  background-image: -moz-linear-gradient(left, transparent, blue);
}

.multiple::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg,
                               transparent 33%, rgba(0, 0, 0, .1) 33%,
                               rgba(0,0, 0, .1) 66%, transparent 66%),
                      -webkit-linear-gradient(left, green, blue);
}

.multiple::-moz-progress-bar {
  background-image: -moz-linear-gradient(-45deg,
                               transparent 33%, rgba(0, 0, 0, .1) 33%,
                               rgba(0,0, 0, .1) 66%, transparent 66%),
                      -moz-linear-gradient(left, green, blue);
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: blue;
  width: 50%;
  display: block;
  height: inherit;
}
