/* line 1, ../sass/main.scss */
/* line 2, ../sass/main.scss */
body {
  background-color: #eee;
  margin: 0;
}

/* line 4, ../sass/main.scss */
/* line 8, ../sass/main.scss */
.button {
  width: 200px;
  padding: 15px 0;
  border: 1px solid #fff;
  cursor: pointer;
  font-family: arial;
  font-weight: lighter;
  text-align: center;
  margin-top: 20px;
}
/* line 17, ../sass/main.scss */
.button:hover {
  background-color: #fff;
  color: blue;
  text-decoration: underline;
  font-weight: bolder;
}

/* line 24, ../sass/main.scss */
.heading {
  background-color: blue;
  color: white;
  padding-top: 35px;
  height: 100vh;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}

/* line 38, ../sass/main.scss */
.heading-h1 {
  font-size: 47px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
}

/* line 44, ../sass/main.scss */
.dek,
.dek2 {
  font-family: monospace;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  margin-top: 10px;
}

/* line 52, ../sass/main.scss */
.weather-section {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

/* line 58, ../sass/main.scss */
.weather-day {
  text-align: center;
  font-family: arial;
  font-size: 12px;
}

/* line 63, ../sass/main.scss */
.day {
  display: block;
  font-family: monospace;
  font-size: 15px;
}

/* line 68, ../sass/main.scss */
.temp {
  display: block;
  font-family: arial;
  font-size: 12px;
}

/* line 73, ../sass/main.scss */
.news-headline-section {
  padding: 25px 75px;
}

/* line 76, ../sass/main.scss */
.news-headline-heading-container-world {
  width: 127px;
}

/* line 79, ../sass/main.scss */
.news-headline-heading-container-national {
  width: 152px;
}

/* line 82, ../sass/main.scss */
.news-headline-heading-container-sports {
  width: 140px;
}

/* line 86, ../sass/main.scss */
.news-headline-section-weather {
  padding: 25px 75px 0px 75px;
}

/* line 89, ../sass/main.scss */
.news-headline-heading-container-weather {
  width: 90px;
}

/* line 92, ../sass/main.scss */
.news-headline-heading {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 22px;
  color: blue;
  padding-bottom: 5px;
}

/* line 99, ../sass/main.scss */
.border-blue {
  height: 5px;
  background-color: blue;
  margin: auto auto 10px;
}

/* line 104, ../sass/main.scss */
.news-headline {
  font-family: courier;
  font-size: 20px;
}
/* line 107, ../sass/main.scss */
.news-headline a {
  color: #000;
}
/* line 109, ../sass/main.scss */
.news-headline a:hover {
  color: blue;
}

/* line 114, ../sass/main.scss */
.news-headline-desc {
  font-family: arial;
  font-size: 14px;
  padding-top: 10px;
}

/* line 119, ../sass/main.scss */
.news-headline-sub {
  font-family: arial;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 25px;
}

/* line 125, ../sass/main.scss */
.news-image {
  width: 160px;
  padding-top: 10px;
}

/* line 129, ../sass/main.scss */
.news-headline,
.news-headline-desc,
.news-headline-sub,
.news-image {
  opacity: 0;
}

@media (max-width: 600px) {
  /* line 136, ../sass/main.scss */
  .news-headline-section {
    padding: 25px 25px;
  }

  /* line 139, ../sass/main.scss */
  .news-headline-section-weather {
    padding: 25px 25px 0px 25px;
  }

  /* line 142, ../sass/main.scss */
  .weather-section {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 0 5px;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }

  /* line 149, ../sass/main.scss */
  .heading {
    height: 85vh;
  }

  /* line 152, ../sass/main.scss */
  .weather-day {
    padding: 0 20px;
  }
}
/* line 157, ../sass/main.scss */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid blue;
  margin: auto;
}
